:root {
    --mui-shape-borderRadius: 6px;
    --mui-shadows-2: none;
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 24px;
    --space-4: 32px;
    --space-5: 64px;
    --space-6: 128px;
    --color-text-primary: #fff;
    --color-text-secondary: #636669;
    --color-text-disabled: #636669;
    --color-primary-dark: #0cb259;
    --color-primary-main: #12ff80;
    --color-primary-light: #a1a3a7;
    --color-secondary-dark: #636669;
    --color-secondary-main: #fff;
    --color-secondary-light: #12ff80;
    --color-secondary-background: #1b2a22;
    --color-border-main: #636669;
    --color-border-light: #303033;
    --color-border-background: #121312;
    --color-error-dark: #ac2c3b;
    --color-error-main: #ff5f72;
    --color-error-light: #ffb4bd;
    --color-error-background: #2f2527;
    --color-success-dark: #028d4c;
    --color-success-main: #00b460;
    --color-success-light: #81c784;
    --color-success-background: #1f2920;
    --color-info-dark: #52bfdc;
    --color-info-main: #5fddff;
    --color-info-light: #b7f0ff;
    --color-info-background: #19252c;
    --color-warning-dark: #c04c32;
    --color-warning-main: #ff8061;
    --color-warning-light: #ffbc9f;
    --color-warning-background: #2f2318;
    --color-background-default: #121312;
    --color-background-main: #121312;
    --color-background-paper: #1c1c1c;
    --color-background-light: #1b2a22;
    --color-backdrop-main: #636669;
    --color-logo-main: #fff;
    --color-logo-background: #303033;
    --color-static-main: #121312;
}

@font-face {
    font-family: 'dm';
    src: url('fonts/DM/dmsans-variablefont_opszwght-webfont.woff') format('woff'),
         url('fonts/DM/dmsans-variablefont_opszwght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
    box-sizing: border-box;
  }


body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'dm';
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--color-background-default);
    overflow-y: auto;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

.title {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    color: white;
    border: 1px solid var(--palette-main-green);
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: var(--color-background-paper);
    border-bottom: 1px solid var(--color-border-main);
    margin-bottom: var(--space-2);
    box-sizing: border-box;
    position: relative;
}

h1 {
    margin: 0;
}

#logo {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 60px; /* Adjust height as needed */
   
}

.containerMiddle {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-content: center;
    align-items: center;
}

.containerRight {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.containerLeft {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid var(--palette-main-green);
    justify-content: center;
}

.containerRight {
    color: white;
    display: flex;
    justify-content: center;
}

.inputContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
    padding: var(--space-2);
    gap: 0.5rem; 
    color: var(--color-text-primary);
    background-color: var(--color-background-paper);
    border: 1px solid var(--color-border-main);
    border-radius: var(--mui-shape-borderRadius);
    margin-bottom: 10px;
    
}

.inputContainer > div {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    gap: 0.5rem; 
    padding: var(--space-1);
}

.display-element {
    font-size: 0.75rem;
    background-color: var(--palette-main-green);
    color: var(--mui-palette-primary-contrastText);
    border-radius: var(--mui-shape-borderRadius);
    font-size: 12px;
    font-weight: var(--mui-palette-primary-font-weight);
    border-color: var(--palette-main-green);
    box-shadow: var(--mui-shadows-2);
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
}

.inputContainer label {
    font-size: 1rem;
    color: white;
}

.inputContainer input {
    font-size: 0.75rem;
    background-color: var(--palette-main-green);
    color: var(--mui-palette-primary-contrastText);
    border-radius: var(--mui-shape-borderRadius);
    font-size: 12px;
    font-weight: var(--mui-palette-primary-font-weight);
    border-color: var(--palette-main-green);
    box-shadow: var(--mui-shadows-2);
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 4px;
}

.inputContainer > div:last-child {
    display: flex;
    justify-content: center; 
}



#tableContainer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 300px; 
    overflow-y: auto;
    overflow-x: auto; 
    color: var(--color-text-primary);
    background-color: var(--color-background-paper);
    border: 1px solid var(--color-border-main);
    border-radius: var(--mui-shape-borderRadius);
}

table {
    border-collapse: collapse;
    border: 2px solid var(--palette-main-green);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: var(--color-background-paper);
}

thead, tbody, tr, th {
    border: 2px solid var(--palette-main-green);
    padding: 0.75rem;
    border-radius: var(--mui-shape-borderRadius);
}

#btnCalculate {
    background-color: var(--color-primary-main);
    color: var(--color-background-default);
    border-radius: var(--mui-shape-borderRadius);
    border-width: 0;
    font-weight: bold;
    font-family: 'dm';
    font-size: 0.875rem;
    padding: 12px 48px;
    border-color: var(--color-primary-dark);
    box-shadow: var(--mui-shadows-2);
}

canvas, #valueGraph {
    box-sizing: border-box;
    margin-left: 10px;
    height: 300px;
    width: 400px;
    color: var(--color-text-primary);
    background-color: var(--color-background-paper);
    border: 1px solid var(--color-border-main);
    border-radius: var(--mui-shape-borderRadius);
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}